@import "tailwindcss";

@theme {
    --color-primary-light: #e91e63;
    --color-primary: #c2185b;
    --color-primary-dark: #880e4f;
    --font-cairo: "Cairo", sans-serif;
}

body {
    @apply font-cairo bg-gray-50 text-gray-900;
}
